name: Deploy to Coolify

on:
  push:
    tags:
      - 'v*'    

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deployment 
        run: |
          echo "Init version ${{ github.ref_name }} deployment..."
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.COOLIFY_API_KEY }}" \
            "${{ secrets.COOLIFY_DEPLOY_HOOK }}"